.test{
  border: 5px red solid;
}

/*Color*/
.primary-color{
  background-color: #399bff;
}

.secondary-color{
  background-color: #e32012; /*red*/
}

.white-color{
  background-color: #fff;
}

.green-color{
  background-color: #2ecc71;
}

.blue-color{
  background-color: #16a085;
}

.light-font{
  color: #fff;
}

.red-font{
  color: #e32012;
}

.bluue-color{
  background-color: #0097FF;
}

/*Sidenav*/
.navbar{
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.34);
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.34);
}

.navbar-brand img{
  width: 55%;
}

.toggle-menu-admin{
  margin-left: 15px;
  padding:0 10px;
  cursor: pointer;
}

.toggle-menu-admin .fa-align-left{
  display: none;
}

.toggle-menu-admin .fa-align-left.show{
  display: block;
}

.toggle-menu-admin .fa-bars{
  display: block;
}

.toggle-menu-admin .fa-bars.not-displayed{
  display: none;
}

.sidenav{
  height: 94%;
  width: 95px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 40px;
  box-sizing: border-box !important;
  font-size: 1em;
}

.icon-nav{
  display: inline-block;
  margin-right: 10px;
}
.text-nav, .dropdown-btn .fa-caret-down{
  display: none;
}

.sidenav a, .dropdown-btn {
  box-sizing: border-box !important;
  width: 100%;
  padding: 8px 32px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover, .dropdown-btn:hover{
  border-left: 4px #e32012 solid;
}

.sidenav a .icon-nav.active{
  color: #e32012;
}

.sidenav a{
  color: #fff !important;;
  text-decoration: none !important;
}

.dropdown-container {
  box-sizing: border-box !important;
  display: none;
  opacity: 0.7;
  padding-left: 8px;
}

#main{
  margin: 60px 0 0 95px;
  transition: margin-left .5s;
  padding: 20px 82px;
  height: inherit;
}

.sidenav.toggled{
  width: 300px;
  box-sizing: border-box !important;
}

.sidenav.toggled a{
  display: flex;
}
.sidenav.toggled .text-nav{
  display: inline-block;
  height: auto;
}
.sidenav.toggled .dropdown-btn .fa-caret-down{
  float: right;
  display: block;
}
#main.toggled{
  margin: 60px 0 0 300px;
}

.modal-header{
  background-color: #e32012;
  color: #fff;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.summary-card{
  padding: 20px 40px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.navbar-brand{
   margin-left: 35%;
}

/*liz*/
.contenedor{
  width: 100%;
  padding: 30px 50px;
  background-color:white;
  border: 2px solid #399bff;
  border-radius: 10px;
  margin: 5% 0;
}
table,.table-fixed {
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-fixed thead th {
    height: 50px;
    /*text-align: left;*/
}

.table-fixed tbody {
    height: 150px;
    overflow-y: auto;
}

.table-fixed thead {
    /* fallback */
}


.table-fixed tbody td, .table-fixed thead th {
    float: left;
    height: 50px;
}

.form-button{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 9px;
}

.payment-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button2{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 8px;
}


.form-button3{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 22px;
}

/*Gus-Inicio*/

.login-body{
  background-image: url(../img/fondo.jpg);
  margin: 0;
	padding: 0;
	background-size: cover;
	height: auto;
}

  .container-login
  {
  	position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	width: 800px;
  	height: 415px;
  	background-color: #2860E5;
}
.card-header{
  color: red;
  font-weight:lighter;
}
.card-body{
  color:   #0087ff;
}

.bttn {
  color: #009bff ;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #009bff;
  transition: all .5s ease;
  position: relative;
}
.bttn:hover {
  background: #009bff;
  color: #fff;
}
/*Gus-Fin*/

.nav-item.dropdown{
  width: 45%;
  margin-left: 50%;
}
.card{
  margin-top: 20%;
}
.user-photo img{
  width: 10%;
  display: inline;
}
.flex-item{
  display: flex;
}
