.test{
  border: 5px red solid;
}

/*Color*/
.primary-color{
  background-color: #399bff;
}

.secondary-color{
  background-color: #e32012; /*red*/
}

.white-color{
  background-color: #fff;
}

.green-color{
  background-color: #2ecc71;
}

.blue-color{
  background-color: #16a085;
}

.light-font{
  color: #fff;
}

.red-font{
  color: #e32012;
}

/*TopMenu
.top-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 60px;
}

.toggle-menu{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-image{
}

.brand-image img{
  width: 120px;
  height: 45px;
}*/

/*Sidenav*/
.top-menu{
  -webkit-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.54);
  box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.54);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.brand-image img{
  width: 65%;
}

.toggle-menu-admin{
  margin-left: 15px;
  padding:0 10px;
  cursor: pointer;
}

.toggle-menu-admin .fa-align-left{
  display: none;
}

.toggle-menu-admin .fa-align-left.show{
  display: block;
}

.toggle-menu-admin .fa-bars{
  display: block;
}

.toggle-menu-admin .fa-bars.not-displayed{
  display: none;
}

.sidenav{
  height: 94%;
  width: 95px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 40px;
  box-sizing: border-box !important;
  font-size: 1em;
}

.icon-nav{
  display: inline-block;
  margin-right: 10px;
}
.text-nav, .dropdown-btn .fa-caret-down{
  display: none;
}

.sidenav a, .dropdown-btn {
  box-sizing: border-box !important;
  width: 100%;
  padding: 8px 32px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover, .dropdown-btn:hover{
  border-left: 4px #e32012 solid;
}

.sidenav a .icon-nav.active{
  color: #e32012;
}

.sidenav a{
  color: #fff !important;;
  text-decoration: none !important;
}

.dropdown-container {
  box-sizing: border-box !important;
  display: none;
  opacity: 0.7;
  padding-left: 8px;
}

#main{
  margin: 60px 0 0 95px;
  transition: margin-left .5s;
  padding: 20px 82px;
  height: inherit;
}

.sidenav.toggled{
  width: 300px;
  box-sizing: border-box !important;
}

.sidenav.toggled a{
  display: flex;
}
.sidenav.toggled .text-nav{
  display: inline-block;
  height: auto;
}
.sidenav.toggled .dropdown-btn .fa-caret-down{
  float: right;
  display: block;
}
#main.toggled{
  margin: 60px 0 0 300px;
}

.modal-header{
  background-color: #e32012;
  color: #fff;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.summary-card{
  padding: 20px 40px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}


/*liz*/
.contenedor{
  width: 100%;
  padding: 50px;
  background-color:white;
  border: 2px solid #399bff;
  border-radius: 10px;
  margin: 5% 0;
}
.table{
  width: 100% !important;
}

.form-button{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 8px;
}
